<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAbJoo5BJ6kYI6gTVaCgwuTU9WRmu5DgI8</string>
	<key>GCM_SENDER_ID</key>
	<string>1021290433498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rpg</string>
	<key>PROJECT_ID</key>
	<string>tej-rpg</string>
	<key>STORAGE_BUCKET</key>
	<string>tej-rpg.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021290433498:ios:a682ec5f767f12b79b8ee3</string>
</dict>
</plist>